.header {
    height: var(--header-height);
    background-image: linear-gradient(0 , #f7462f ,#F6442E ) ;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
 
.header__navbar-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0 ;
}

.header__navbar-item {
    margin: 0px 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-use {
    display: flex;
    align-items: center;
    justify-content: center;
}


.header__navbar-use-name {
    margin-left: 8px;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 400;
}

.header__navbar-use-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0 , 0, 0, 0.2);

}

.header__navbar-use-menu::after {
    position: absolute;
    content: "";
    width: 160px;
    height: 15px;
    top: -15px;
}

.header__navbar-use:hover .header__navbar-use-menu {
    display: block;
    transform-origin: calc(100% - 50%) top;
    animation: headerNotifyGrowth ease-in 0.3s;
}

.header__navbar-use-menu {
    position: absolute;
    top: 100%;
    right: -30px;
    width: 160px;
    background-color: var(--white-color);
    padding-left: 0 ;
    margin-top: 8px;
    border-radius: 3px;
    z-index: 1;
    list-style: none;
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 4px #b3b3b3 ;
    display: none;
}


.header__navbar-use-item::before {
    position: absolute;
    content: "";
    border-width: 17px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 59px;
    top: -30px;
}


.header__navbar-use-item a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__navbar-use-item a:hover {
    background-color: #fafafa;
    cursor: pointer;
    color:#04d4b8 ;
}



.header__navbar-item--has-qr:hover .header__qr {
    display: block;
    z-index: 1;
}

.header__navbar-item--notify:hover .header__notify {
    display: block;
}

.header__navbar-item ,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item ,
.header__navbar-item-link,
.header__navbar-icon-link {
    display:flex;
    align-items: center;

    
}

.header__navbar-item:hover ,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}
.header__navbar-item--strong {
    font-weight: 700;
}

.header__navbar-item--sparate::after {
    content: "";
    position: absolute;
    display: block;
    height: 14px;
    border-left: 2px solid #f7a9a1;
    right: -9px;
    top:50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;

}

.header__navbar-item--connect {
    cursor: text;
    color: var(--white-color);
}


/* header qr  */

.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top:  120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: faceIn ease-in 0.3s;
    border: #b3b3b3 solid 1px;
}

.header__qr::before {
    content: "";
    position: absolute;
    height: 20px;
    display: block;
    width: 100%;
    left: 0;
    top: -16px;

}
.header__qr-img {
    width: 100%;

}
.header__qr-apps {

    display:flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 10px;
}

.header__qr-donwload-img {
    height: 16px;

}

/* header notification */

.header__notify {
    position: absolute;
    top: 140%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: #d3d3d3 solid 1px;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity transform ;
    display: none;
    z-index: 1;
}

.header__notify::before {
    content: "";
    border-width: 20px 25px;
    border-style: solid ;
    border-color: transparent transparent var(--white-color) transparent;
    position:absolute ;
    right: 10px;
    top: -33px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 120px;
    height: 20px;
    right: 0;
    top: -20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0) ;
    }to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
    user-select: none;

}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display:flex ;
}

.header__notify-item:hover {
    background-color: #f1f1f1;
}

.header__notify-item--view {
    
    background-color: rgba(246, 66, 45 , 0.1);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    /* background-color: rgba(246, 66, 45 , 0.1); */
    width: 100%;
}

.header__notify-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.header__notify-info {
    margin-left: 12px;

}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #9c9c9c;
    line-height: 2.6rem;
    margin-top: 2px;
}

.header__notify-footer {
    /* text-align: center; */
    display: flex;
}

.header__notify-footer-btn {
    /* margin: auto; */
    text-decoration: none;
    color: var(--text-color);
    padding: 16px 32px;
    width: 100%;
    text-align: center;
}

.header__notify-footer-btn:hover {
    background-color: #fafafa;
    color: var(--primary-color);
}


/* Auth form register*/

.auth-form__container {
    padding: 0 32px;
    width: 560px;
    background-color: var(--white-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}



.auth-form_input {
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: var(--border-color) solid 1px;
    outline: none;
}

.auth-form_input:focus {
    border-color: #777;
}


.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy {
    font-size: 1.4rem;
    line-height: 2.6rem;
    text-align: center;
    padding: 12px 0;
}

.text__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form_controls {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;
}


.auth-form_controls-back {
    margin-right: 10px;
}

.auth-form__social {
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.auth-form__social-icon {
    font-size: 1.8rem;
    /* width: 100%; */
}

.auth-form__social--facebook {
    background-color: #034aa8;
    border-radius: 5px ;
}

.auth-form__social--google {
    background-color: var(--primary-color);
    border-radius: 5px ;
}

.auth-form__social--facebook,
.auth-form__social--google,
.auth-form__social-icon {
    color: var(--white-color);
}


.auth-form__social-icon {
    margin-left: 8px;
}

.auth-form__social--text {
    padding: 0 45px;
}

/* auth form log in  */

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}


.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    
}

.auth-form__help-sparete {
    display: block;
    border: 1px solid var(--border-color);
    height: 14px;
    margin: 0px 16px 2px;
}


.auth-form__help-link--foget {
    color: var(--primary-color);
}

.auth-form__help-link--help {
    color: #999;
}

/* header search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}



.header__logo {
    width: 200px;

}

.header__logo-img {
    width: 150px;
}

.header__search{
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}


.header__search-input-wrap{
    flex: 1;
    position: relative;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding-left: 8px;
    border-radius: 3px;

}


.header__search-select {
    height: 40%;
    padding: 0 12px;
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--text-color);
    position: relative;
}

.header__search-select::after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 20px;
    right: 20px;
    top: 12px;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    border-left: 1px solid var(--border-color);  
    padding-left: 10px;

}

.header__search-select-icon {
    padding: 0 8px;
}

.header__search-btn {
    width: 60px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    margin-right: 6px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;

}

.header__search-btn-icon {
    font-size: 1.6rem;
    padding: 6px 0;
}

.header__search-option {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    margin-top: 16px;
    border-radius: 3px;
    display: none;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    color: var(--primary-color);
}

.header__search-option-item {
    width: 100%;
    text-decoration: none;
    list-style: none;
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: var(--white-color);
    padding: 12px;

}
.header__search-option-item-text {
    padding-right: 4px;
}   

.header__search-option-icon {
    font-size: 1.4rem;
}


/* search history */


.header__search-history {
    margin-top: 16px;
    position: absolute;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    width: 100%;
    border-radius: 2px;
    font-weight: 300;
    box-shadow: 0 1px 4px #b3b3b3 ;
    display: none;

}


.header__search-history--heading {
    margin: 0;
    padding: 12px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    background-color: #f5f5f5;
}

.header__search-history--list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    height: 100%;
}

.header__search-history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__search-history-item a {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 400;
}  

.header__search-history-item:hover {
    background-color: rgba(235, 235, 235, 0.3);
    cursor: pointer;
}

.header__search-history--img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* header cart */

.header__cart {
    width: 150px;
    text-align: center;
} 

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 16px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;

}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.8rem;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 14px);
    right: -9px;
    background-color: var(--white-color);
    width: 400px;
    /* height: 420px; */
    border-radius: 3px;
    box-shadow:0 1px 3.125rem rgba(0 , 0, 0, 0.2) ;
    display: none;
    cursor: default;
}


.header__cart-list::after {
    cursor: pointer;
    position: absolute;
    content:"" ;
    top: -33px;
    right: 12px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-nocart-img {
    width: 50%;
    display: none;
}

.header__cart-no--cart {
    padding: 30px 0 ;
    
}

.header__cart-no--cart .header__cart-nocart-img,
.header__cart-no--cart .header__cart-list-no-cart-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list-no-cart-text {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    font-weight: 500;
}

.header__cart-notice  {
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius:10px ;
    border: 2px solid var(--primary-color);
    padding: 1px 6px;
    top: -10px;
    right: 2px;

}

/* add cart */

.header__cart-heading {
    text-align: left;
    margin: 12px;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--border-color);
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;   
}

.header__cart-item {
    display: flex;
    padding: 12px 0;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.header__cart-img {
    width: 40px;
    height: 40px;
    margin: 0 12px;
    border-radius: 2px;

}


.header__cart-item-info {
    width: 100%;

}

.header__cart-item-head {
    display:flex  ;
    align-items: center;
    justify-content: space-between;
    margin-right: 8px;

}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight:500;
    color: var(--text-color);
    margin: 0;
}


.header__cart-item-price {
    font-size: 1.4rem;
    font-weight:400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 400;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 4px 0 0 ;

}

.header__cart-item-discription {
    font-size: 1.4rem;
    color: #757575;
    font-weight: 300;

}

.header__cart-item-delete {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    margin-right:4px ;
}

.header__cart-item-delete:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0 ;
    font-weight: 500;
}

.header__cart-view-cart:hover {
    background-color: #f05d41;
}


/* app__container */

.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.catrgory {
    background-color: var(--white-color);
    border-radius: 2px;

}

.catrgory_heading {
    margin-top: 0;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 700;
    padding: 8px 12px;
    border-bottom: 1px solid #E9E9E9;


}

.catrgory_heading-icon {
    font-size:1.4rem;
    margin-right: 4px;

}

.catrgory_list {
    padding:0 0 8px 0;
    list-style: none;
}


.catrgory-item--active .catrgory-item_link {
    font-weight: 600;
    color: #EE4D2D;

}

.catrgory-item--active .catrgory-item_link::before {
    position: absolute;
    content: "";
    border: 4px solid ;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.catrgory-item_link {
    position: relative;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 8px 25px ;
    font-weight: 400;
    transition: right linear 0.2s;
    right: 0;
    line-height: 2.2rem;
}

.catrgory-item_link:hover {
    color: #EE4D2D;
    right: -3px;

}

.catrgory-item_link-add {
    font-size: 1.5rem;
    margin-right: 4px;
}

/* Column 10 and Home finter */

.home-filter {
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    padding: 14px 22px;
}

.home-filter_label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter-btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-finter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-finter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-finter__page-first {
    color: var(--primary-color);
    font-weight: 500;
}

.home-finte__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow:0 1px 0.5rem rgba(0 , 0, 0, 0.3) 

}

.home-finte__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-finte__page-btn .home-finte__page-btn-disabled {
    color: #ccc;
}

.home-finte__page-btn:first-child {
    background-color: #F9F9F9;
    cursor: default;
}

.home-finte__page-icon {
    margin: auto;
    font-size: 1.3rem;
    color: var(--text-color);

}


/* product item */

.home-product-item {
    background-color: var(--white-color);
    margin-top: 10px;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    margin: 10px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;


}

.home-product-item__pcice {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;

}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 8px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 12px 10px;
}

.home-product-item__like {
    font-size: 1.4rem;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: var(--primary-color);
}

.home-product-item__like-liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like-liked .home-product-item__like-icon-empty {
    display: none;
}


.home-product-item__rating {
    font-size: 1.2rem;
    color: #D5D5D5;
    margin: -1px 0 0 auto;
}

.home-product-item__gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    color: var(--text-color);
    font-size: 1.2rem;
    margin-left: 6px;

}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0 ;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__brand {

}

.home-product-item__origin-name {

}

.home-product-item__favourite {

}

.home-product-item__sale-off {

}

.home-product-item__sale-off-percent {

}

.home-product-item__sale-off-label {

}

